body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.video-title {
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    max-width: 300px;
    margin-bottom: 0.1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.body-text {
    max-width: 315px;
    margin-bottom: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}   